<app-heading [title]="'Your Shopping Cart'"></app-heading>
<div class="mb-4">
    <div *ngIf="products else empty" class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>
                                <div class="img-wrap"><img src="{{product.imageUrl}}" class="img-thumbnail img-sm"></div>
                            </td>
                            <td>{{product.title}}</td>
                            <td>In stock</td>
                            <td>
                                <app-quantity-form (emitQuantity)="getQuantity($event, product)"></app-quantity-form>
                            </td>
                            <td class="text-center">{{product.totalPrice ? product.totalPrice : product.price}} lv</td>
                            <td class="text-right">
                                <button (click)="handleRemoveFromCart(product.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{totalPrice}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <a routerLink="/" class="btn-continue-link"> <button class="btn btn-block btn-light btn-continue">Continue Shopping</button> </a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-primary text-uppercase" (click)="checkout()">Checkout</button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #empty> <h2 class="text-center"> Your shopping cart is empty </h2> </ng-template>
</div>
