<!--Comments-->
<div class="card card-comments mb-3 wow fadeIn">
    <div class="card-header font-weight-bold"># {{index}}</div>
    <div class="card-body">

        <div class="media d-block d-md-flex mt-4">
            <img class="d-flex mb-3 mx-auto" src="{{comment.user.picture}}"
            alt="Generic placeholder image">
            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold"> {{comment.user.username}}
                    <span class="pull-right stars">
                            {{stars}}
                        <!-- <i class="fa fa-reply"></i> -->
                    </span>
                </h5>
                <br />
                <div class="comment-content">
                    {{comment.content}}
                </div>
                 <br />
                <span class="posted-on"> Posted: {{comment.createdAt | timeAgo}} </span>
            </div>
        </div>

    </div>
</div>
