<app-heading [title]="'Details'"></app-heading>
<div *ngIf="product" class="row align-items-center my-5">
    <div class="col-lg-5">
        <img class="img-fluid rounded mb-4 mb-lg-0" src={{product.imageUrl}} alt="product" />
    </div>
    <div class="col-lg-5 details">
        <h1 class="font-weight-light">{{product.title}}</h1>
        <p>{{product.description}}</p>
        <h5>{{product.price}}</h5>
        <br>
        <button (click)="handleOrder(product.id)" class="pull-left btn btn-primary">Buy Me</button>
    </div>
</div>

<div *ngIf="product" class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- <h3>User Comment Example</h3> -->
        </div>
    </div>
    <div *ngFor="let comment of product.comments; let index = index">
        <app-show-comment [index]="index + 1" [comment]="comment"></app-show-comment>
    </div>
    <br>
    <app-create-comment (newComment)="getNewComment($event)" *ngIf="product" [productId]="product.id"></app-create-comment>
</div>
