<form #fcategory="ngForm">
  <div class="form-group">
    <label for="exampleFormControlInput1">Category</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="name"
      [(ngModel)]="myModel" (blur)="onBlurMethod()"
      required
      name="name"
      minlength="3"
      [(ngModel)]="model.name"
      #name="ngModel"
    >
    <!-- <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
      Category cannot be empty.
    </div> -->
  </div>
</form>
