<form #f="ngForm" (ngSubmit)="handleSubmit(f)" >
  <div class="col-md-12 p-3 p-lg-5 border">
    <div class="form-group">
      <!-- <label for="exampleInputEmail1">Content</label> -->
        <div class="form-group">
            <label for="replyFormComment"><h4> Your comment </h4> </label>
            <textarea class="form-control" id="replyFormComment" rows="4"
                name="comment"
                ngModel
                minlength="1"
            >
            </textarea>
        </div>
    </div>
    <div *ngIf="f.controls.comment?.touched && f.value.comment === ''" class="alert alert-danger">
      Comment cannot by empty
    </div>

    <ngb-rating class="stars" [(rate)]="rating"></ngb-rating>
      <hr>
    <pre *ngIf="rating">Rate: <span class="stars" >{{rating}}</span></pre>

  <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>