<form #f="ngForm" (ngSubmit)="handleSubmit(f)" >
  <div class="col-md-12 p-3 p-lg-5 border">
    <div class="form-group">
      <label for="exampleInputEmail1">Content</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter your comment"
        name="comment"
        ngModel
        minlength="1"
      >
    </div>
    <div *ngIf="f.controls.comment?.touched && f.value.comment === ''" class="alert alert-danger">
      Comment cannot by empty
    </div>

    <ngb-rating [(rate)]="rating"></ngb-rating>
      <hr>
    <pre *ngIf="rating">Rate: <b>{{rating}}</b></pre>

  <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>