<div *ngFor="let order of (orders$ | async); let i = index">
  <br>
  <h3>Order # {{ i + 1 }}  <span class="pull-right"> Status: {{ order.status }} </span> </h3>
  <hr>
  <br>
    <table class="table table-borderless">
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <tr *ngFor="let details of order.orderDetails">
          <td class="product-info-cell">
            <a routerLink="/product/details/{{details.product.id}}">
                <img src="{{details.product.imageUrl}}" class="img-thumbnail img-sm">
            </a>
            <span class="product-name">{{details.product.title}}</span>
          </td>
          <td> <br> x {{ details.orderedQuantity }} </td>
          <td> <br> {{ details.product.price }} </td>
          <td> <br> {{ details.orderedQuantity * details.product.price }} </td>
      <tr>
    </table>
</div>
